<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Ejercicio Vue.js</title>
</head>

<body>
    <div id="app">
        <h1>Mis Cursos de Platzi💚</h1>
        <p>
            <input type="text" placeholder="Titulo del curso" v-model="title" />
        </p>
        <span class="error" v-show="TitleError">{{ TitleError }}</span class="error">

        <p>
            <input type="number" placeholder="Horas" v-model="time" />
        </p>
        <span class="error" v-show="NumberError">{{ NumberError }}</span>

        <p>
            <button type="submit" v-on:click="ClearErrors(); AddCourse()">Guardar Curso</button>
        </p>
        <span class="error" v-show="Error">{{ Error }}</span class="error">

        <br>

        <div>
            <h2>Lista de Cursos</h2>
            <p v-show="!ExistCourses" class="red">Aun no has realizado cursos</p>
            <div>
                <ol id="ListaCursos">
                    <li v-for="(c, i) in courses">
                        <p class="cursos">
                            Curso: <a v-bind:href="c.url" target="_blank">{{ c.title }}&nbsp;</a>Tiempo: {{ c.time }}
                        </p>
                    </li>
                </ol>
                <p>Llevo <strong>{{ totalTime }}</strong> horas aprendiendo en Platzi.<b>#NuncaParesDeAprender 💚</b>
                </p>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="app.js"></script>
</body>

</html>