body {
  margin: 0
}
#App-Main {
  font-family: "Arial";
  padding: 20px;
}
#CriptoMonedas {
  display: flex;
  flex-wrap: wrap;
  min-height: 600px;
}
.crypto {
  width: 30%;
  padding: 0 20px;
}
.green {
  color: seagreen;
}

.red {
  color: tomato;
}

.orange {
  color: orange;
}

.uppercase {
  text-transform: uppercase
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  height: 64px;
  width: 64px;
}

a:hover {
  text-decoration: underline;
}

ul li {
  margin-top: 5px;
}

button {
  padding: 10px;
}

.row {
  justify-content: space-around;
  display: flex !important;
  flex-direction: row !important;
}

span {
  cursor: pointer;
}